.container{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}


.infoBoxContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 1rem;

}

.title1 {
  font-size: 35px;
}