.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  overflow: hidden;
  margin: 16px;
  max-width: 300px;
  text-align: center;
  max-height: 38rem;
}

.foto {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin-top: 20px;
  margin: 20px auto 0;
}

.content {
  padding: 16px;
}

.sobre {
  margin: 0;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: bold;
}

.resumo {
  margin: 0;
  font-size: 14px;
  color: #777;
}
